<div class="body">
<br><br>
<h1 align="center">Xwiggy | Menu</h1>
  <br><br>
<!--<div class="container-fluid">
  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && getTotal()" novalidate class="feedback-form">
    <table align="center">
      <tr>
        <td *ngFor="let m of model">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top zoom" src="{{m.url}}" alt="Card image cap" style="height: 190px">
            <div class="card-body">
              <h5 class="card-title" style="color: black">{{m.item}}</h5>
              <p class="card-text">Price : Rs.{{m.price}}</p>
              <p> Quantity Available : {{m.quantity}}</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        &lt;!&ndash;<ng-container *ngFor="let vale of values; let index=index;">
        <td>
          <input class="input-group-text input-align" type="number" name="name+{{index}}" min="0" max="{{model[index].quantity}}" value="{{values[index].quantity}}" [(ngModel)]="values[index].quantity">
        </td>
        </ng-container>&ndash;&gt;
        <td>
        <input class="input-group-text input-align" type="number" id="quantity1" name="quantity1" min="0" max="{{model[0].quantity}}" [(ngModel)]="modalCart.quantity1">
      </td>
        <td>
          <input class="input-group-text input-align" type="number" id="quantity2" name="quantity2" min="0" max="{{model[1].quantity}}" [(ngModel)]="modalCart.quantity2">
        </td>
        <td>
          <input class="input-group-text input-align" type="number" id="quantity3" name="quantity3" min="0" max="{{model[2].quantity}}" [(ngModel)]="modalCart.quantity3">
        </td>
      </tr>
    </table>
    <br><br>
    <div class="total" style="text-align: center; font-size: large">
      Cart Total : {{total}}
    </div>
    <table align="center">
      <tr>
        <td>
          <input type="submit" class="bigbutton" value="Add To Cart">
        </td>
        <td>
          <button routerLink="/checkout" class="bigbutton"><span>Buy</span></button>
        </td>
        <td>
          <button routerLink="/home" type="button" class="bigbutton" (click)="clearLocal()"><span>Log Out</span></button>
        </td>
      </tr>
    </table>

  </form>
</div>

</div>-->

<!--************************************************-->
<!--************************************************-->
<!--************************************************-->
<!--************************************************-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && getTotal()" novalidate class="feedback-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="card" >
        <div class="card-img-wrap"><img class="card-img-top" src="../../assets/images/cookie.jpg" alt="Card image cap"></div>
        <div class="card-block">
          <h4 class="card-title">Cookies</h4>
          <a routerLink="/checkout" class="btn btn-primary">AddtoCart{{m.item}}</a>
        </div>
      </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
        <div class="card-img-wrap"><img class="card-img-top" src="../../assets/images/coffee.jpeg" alt="Card image cap"></div>
        <div class="card-block">
          <h4 class="card-title">Coffee</h4>
          <a href="/checkout" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
        <div class="card-img-wrap"><img class="card-img-top" src="../../assets/images/food.jpg" alt="Card image cap"></div>
        <div class="card-block">
          <h4 class="card-title">Food</h4>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <button routerLink="/checkout" class="bigbutton"><span>AddtoCart{{m.item}}</span></button>
        </div>
      </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
        <div class="card-img-wrap"><img class="card-img-top" src="../../assets/images/cake.jpg" alt="Card image cap"></div>
        <div class="card-block">
          <h4 class="card-title">cake</h4>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <button routerLink="/checkout" class="bigbutton"><span>AddtoCart</span></button>
        </div>
      </div>
      </div>
    </div>
</div>

<br><br>
<div class="total" style="text-align: center; font-size: large">
  Cart Total : {{total}}
</div>
<table align="center">
  <tr>
    <td>
      <button routerLink="/submit" class="bigbutton"><span>AddtoCart</span></button>
    </td>
    <td>
      <button routerLink="/checkout" class="bigbutton"><span>Buy</span></button>
    </td>
    <td>
      <button routerLink="/home" type="button" class="bigbutton" (click)="clearLocal()"><span>Log Out</span></button>
    </td>
  </tr>
</table>
</form>
</div>
